.container {
    max-width: 56rem;
    
	margin: 0 auto;
    padding: 2.5rem 2rem;
	background-size: cover;
    background-position: center;
	display: flex;
	flex-direction: column;
	position: relative;
    align-items: center;
}
.containerSection {
    display: flex;
    position: absolute;    
    background-color: #22b573; 
    margin-top: 20rem;
    width: 970px;
    
}
.container > section > h2 {
    padding: 1rem 2rem;
	color: #fff;
    
}
.containerSection span img {
    max-width: 100%;
    display: block;
}
